# Lab: Data Analysis with Pandas
# Bicycle Trip

## Omar D'yab

## 9-Aug-2021

In [15]:
import pandas as pd
import numpy as np
df_trip = pd.read_csv("./trip.csv",error_bad_lines=False)
df_station = pd.read_csv("./station.csv")
df_weather = pd.read_csv("./weather.csv")
df_trip.head(10)
df_station.head(10)
df_weather.head(10)

/home/omardyab/401/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain
5,10/18/2014,68,64.0,59,59,57,55,90,83,68,...,29.90,29.80,10,8,2,10,4,-,0.31,Rain
6,10/19/2014,73,64.0,55,57,55,53,94,74,52,...,29.73,29.67,10,10,6,10,3,18,0.00,NaN
7,10/20/2014,66,60.0,55,57,54,50,90,78,67,...,29.74,29.69,10,10,5,12,5,-,0.44,Rain
8,10/21/2014,64,58.0,55,52,49,46,87,70,58,...,29.85,29.74,10,10,6,15,8,21,0.10,Rain
9,10/22/2014,60,58.0,57,55,53,48,88,81,67,...,29.68,29.56,10,6,2,14,8,22,1.43,Rain

1-What is the average trip duration for a borrowed bicycle?

In [16]:
avg_trip =df_trip['tripduration'].mean()
avg_trip

1178.2956753399776

2-What’s the most common age of a bicycle-sharer?

In [17]:
avg_age =2021-int(df_trip['birthyear'].mode())
avg_age

34

3-Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [18]:
df_weather['month'] = pd.DatetimeIndex(df_weather['Date']).month
average_prec=df_weather.groupby(['month']).mean()[['Precipitation_In']]
average_prec

       Precipitation_In
month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [19]:
median_prec= df_weather.groupby(['month']).median()[['Precipitation_In']]
median_prec

       Precipitation_In
month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

4-What’s the average number of bikes at a given bike station?

In [20]:
avg_num_bikes=df_station['install_dockcount'].mean()
avg_num_bikes

17.586206896551722

# 5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

## It's more likely to lose since it can be damaged or stolen once taken

In [21]:
modified_bikes=(df_station["current_dockcount"].sum() - df_station["install_dockcount"].sum())
modified_bikes

-62

6-Come up with 3 more questions that can be answered with this data set.

1-What was the highest temperature recorded

2-What was the most common temperature in the average ones
 
3-What was the average of the minimum temperature

In [22]:

highest_temp=df_weather['Max_Temperature_F'].max()
highest_temp

avg_temp=int(df_weather['Mean_Temperature_F'].mode())
avg_temp

avg_min_temp=df_weather['Min_TemperatureF'].mean()
avg_min_temp

49.45428156748911

In [23]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip , 1178.2956753399776)
    assert_equal(avg_age , 34)
    assert_equal(avg_num_bikes, 17.586206896551722)
    assert_equal(modified_bikes, -62)
    assert_equal(highest_temp, 98)
    assert_equal(avg_temp, 52)
    assert_equal(avg_min_temp, 49.45428156748911)

    print("Success!!!")

test()

Success!!!