# Lab: Data Analysis with Pandas
# Video game sales

Omar D'yab
9-Augg-2021

In [2]:
import pandas as pd
data=pd.read_csv('./vgsales.csv')
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## 1- Which company is the most common video game publisher?

In [3]:

most_common_publisher=data['Publisher'].mode()
most_common_publisher

# another way
# most_common_publisher =data['Publisher'].value_counts().idxmax()
# most_common_publisher

0    Electronic Arts
dtype: object

## 2-Whatâ€™s the most common platform?

In [4]:
most_common_platform=data['Platform'].mode()
most_common_platform
# another way
# most_common =data['Platform'].value_counts().idxmax()
# most_common

0    DS
dtype: object

## 3-What about the most common genre?

In [5]:
most_common_genre=data['Genre'].mode()
most_common_genre
# another way
# most_common =data['Genre'].value_counts().idxmax()
# most_common

0    Action
dtype: object

## 4- What are the top 20 highest grossing games?

In [6]:
top_twenty=data[['Name','Global_Sales','Rank']].sort_values('Global_Sales',ascending=False).head(20)
top_twenty

                                            Name  Global_Sales  Rank
0                                     Wii Sports         82.74     1
1                              Super Mario Bros.         40.24     2
2                                 Mario Kart Wii         35.82     3
3                              Wii Sports Resort         33.00     4
4                       Pokemon Red/Pokemon Blue         31.37     5
5                                         Tetris         30.26     6
6                          New Super Mario Bros.         30.01     7
7                                       Wii Play         29.02     8
8                      New Super Mario Bros. Wii         28.62     9
9                                      Duck Hunt         28.31    10
10                                    Nintendogs         24.76    11
11                                 Mario Kart DS         23.42    12
12                   Pokemon Gold/Pokemon Silver         23.10    13
13                                       Wii Fit         22.72    14
14                                  Wii Fit Plus         22.00    15
15                            Kinect Adventures!         21.82    16
16                            Grand Theft Auto V         21.40    17
17                 Grand Theft Auto: San Andreas         20.81    18
18                             Super Mario World         20.61    19
19  Brain Age: Train Your Brain in Minutes a Day         20.22    20

## 5- For North American video game sales, whatâ€™s the median?

In [7]:
med=data['NA_Sales'].median()
med

0.08

## 5.1- Provide a secondary output showing ten games surrounding the median sales output assume that games with same median value are sorted in descending order

In [8]:
top_ten=data[data['NA_Sales'] == med].head(10)
top_ten

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54

In [9]:
top_ten=data[data['NA_Sales']== med][['Name']].head(10)
top_ten

                                                   Name
446                                   Dragon Warrior IV
497         World Soccer Winning Eleven 7 International
1617                             Farming Simulator 2015
1926                          Pro Evolution Soccer 2008
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...
2373                           Phantasy Star Portable 2
2579                               The Sims 2: Castaway
3186                                     SingStar Queen
3503                                         Top Spin 3
3703               Sonic & All-Stars Racing Transformed

## 5.2- assume that games with same median value are sorted in descending order

In [10]:

med_desc=(data[data['NA_Sales']== med][['Name','Rank']].sort_values('Rank',ascending=False))[['Name']].head(10)
med_desc

                                                   Name
11492                      Ultimate Shooting Collection
11455                                        The Hidden
11432                              DanceDanceRevolution
11431  Little League World Series Baseball: Double Play
11403           My English Coach: Para Hispanoparlantes
11390      Super Robot Taisen OG Saga: Endless Frontier
11386                                     Sushi Academy
11376                         Face Racers: Photo Finish
11375                   Dream Day: Wedding Destinations
11371            Death Jr. and the Science Fair of Doom

## 6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [11]:
sd=(data['NA_Sales'].head(1)-data['NA_Sales'].mean())/data['NA_Sales'].std()
sd

0    50.478988
Name: NA_Sales, dtype: float64

## 7- The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [12]:
sales_compare=(data['Global_Sales'].mean(), data[data['Platform']=='Wii']['Global_Sales'].mean())
sales_compare

(0.5374406555006628, 0.6994037735849057)

## 8- Come up with 3 more questions that can be answered with this data set. (answeres are also provided)

## A-For EU_Sales, whatâ€™s the median?

In [13]:
med=data[['EU_Sales']].median()
med

EU_Sales    0.02
dtype: float64

## B-Which least 10 games are avaliable in GB platform at  ?

In [17]:
pc_platform = data[data['Platform']=='GB'].tail(10)
pc_platform

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9013,9015,Sakura Wars GB,GB,2000.0,Adventure,Media Factory,0.0,0.0,0.14,0.0,0.14
9052,9054,Star Ocean: Blue Sphere,GB,2001.0,Role-Playing,Enix Corporation,0.0,0.0,0.14,0.0,0.14
9107,9109,Yu-Gi-Oh! Monster Capture GB,GB,2000.0,Role-Playing,Konami Digital Entertainment,0.0,0.0,0.14,0.0,0.14
9800,9802,Harvest Moon 2 GBC,GB,1999.0,Simulation,Ubisoft,0.0,0.0,0.12,0.0,0.12
9865,9867,Medarot 4: Kabuto / Kuwagata Version,GB,2001.0,Role-Playing,Imagineer,0.0,0.0,0.12,0.0,0.12
11799,11801,Mega Man Xtreme,GB,2000.0,Platform,Capcom,0.0,0.0,0.07,0.0,0.07
11816,11818,Mega Man Xtreme 2,GB,2001.0,Platform,Capcom,0.0,0.0,0.07,0.0,0.07
11948,11950,Metal Gear Solid,GB,2000.0,Action,Konami Digital Entertainment,0.0,0.0,0.07,0.0,0.07
12101,12103,Power Pro GB,GB,1998.0,Sports,Konami Digital Entertainment,0.0,0.0,0.07,0.0,0.07
12670,12672,Teenage Mutant Ninja Turtles II: Back from the...,GB,1991.0,Action,Konami Digital Entertainment,0.0,0.0,0.06,0.0,0.06

## C- What is the standard deviations of Global Sales?

In [15]:
data['Global_Sales'].std()

1.5550279355699124

# Tests

In [16]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
        assert_equal(most_common_publisher, 'Electronic Arts')
        assert_equal(most_common_platform, 'DS')
        assert_equal(most_common_genre, 'Action')
        assert_equal(top_twenty.iloc[0].Name, 'Wii Sports')
        assert_equal(top_twenty.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
        assert_equal(med, 0.08)
        assert_equal(top_ten.iloc[0].Name,'Dragon Warrior IV')
        assert_equal(top_ten.iloc[9].Name,'Sonic & All-Stars Racing Transformed')
        
    print("Success!!!")

test()

Success!!!